html{
    font-size: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 1rem;
    color: #202020;
    background-color: #f7f7f7;
}

*,*::before,*::after{
    box-sizing: border-box;
}

a,h1,h2,h3,h4,h5,h6{
    text-decoration: none;
    font-size: inherit;
    margin: 0;
    font-weight: inherit;
    color: inherit;
}

.page {
    max-width: 1000px;
    
    margin: 1rem auto;
    background-color: #fff;
}
.prod-btn{
    text-align: center;
    padding-bottom: 1em;
}


/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    margin: 0.5em 1em 0.5em 1em;

    display: flex; 

}

.logo-round1{
    background-color: #145da0   ;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    
    position: relative;
    
}

.logo-round2{
    background-color: #b2d1df;
    height: 4.5em;
    width: 4.5em;
    border-radius: 50%;
/*    margin: 0.25em 0 0 0.25em;*/
    position: absolute;
    left: 0.25em;
    top: 0.25em;
}


.logo-round3{
    background-color: #145da0;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    position: absolute;
    left: 0.25em;
    top: 0.25em;
        
}
.logo-svg{
    fill: #f27c22;
    height: 2.5em;
    width: 2.5em;
    position: absolute;
    left: 0.75em;
    top: 0.75em;   
}

.logo-name {
    text-transform: uppercase;
    color: #f27c22;
    font-weight: 700;
    align-self: center;
    margin-left: 0.5em;
    font-size: 2em;

    
}

.nav{
    font-size: 1.1rem;
}

.nav-link{
    display: inline-block;
    color: #175c9f;
    font-weight: 700;
    text-decoration: none;
    padding: 0 0.6em;
    border-right: 2px solid #ccc;


}
.nav-link:last-child{
    border-right: none;
    padding-right: 1em;
}

.nav-link::after{
    content: "";
    display: block;
    margin: 0 auto -3px;
    width: 0;
    height: 3px;
    background-color: #f27c22;
    opacity: 0;
/*    transition: opacity 200ms linear;*/
    transition: width 200ms linear, opacity 200ms linear;

}
.nav-link:hover::after{
    opacity: 1;
    width: 100%;
    cursor: pointer;
}

/* main */

.main{
    margin: 0.5rem;
}

.main-intro{
    background-color: #f4fbfd;
    padding: 1em 1em;
    margin: 0 -0.5rem;
}

.main-intro-info{
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 0.3em;
    color: #145da0; 
}

.main-intro-wrap {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.main-intro-text{
    /* width: 50%; */
    text-align: justify;
    font-size: 0.9em;
    flex:2 1 0;
    min-width: 400px

}
.intro-btn{
    flex:1 0 0;
    align-self: center;
    text-align: center;
}
.btn-link{
    background-color: #f27c22;
    padding: 0.4em 0.6em;
    font-size: 1em;
    border-radius: 0.4em;
    box-shadow: 0 0 0.6em #c2c2c2;
    
    transition: 
    background-color 0.2s linear, 
    color 0.2s linear,
    box-shadow 0.2s linear;

}

.btn-link:hover{
    background-color: #145da0;
    color: #ececec;
    box-shadow: 0 0 0.6em #0e3457;;

}




.product{
    padding: 1em 1em;
    margin: 0 -0.5rem;
}

.section-title {
    font-size: 1.5em;
    font-weight: 700;
    color: #f27c22;
    text-align: center;
    padding-bottom: 1em;

}

.product-item{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

.product-item:nth-child(odd){ 
    flex-direction: row-reverse;
}

.product-item > *{
    flex: 1 1 45%;
}

.product-wrap-img{
    max-width: 400px;
}

.product-img{
    max-width: 100%;
    min-width: 300px;

}
.product-wrap-description{
    margin: auto 0;
}

.product-wrap-description-title{
    font-weight: 700;
    font-size: 1.2em;
    color: #145da0;
    text-align: center;
}

.prod-btn{
    text-align: center;
    display: block;
}

.refereces{
    background-color: #f4fbfd;
    margin: 0 -0.5rem;
    padding: 2em 1em;
}

.ref-section-title{
    color: #145da0;
    font-style: italic;
}

.ref-grid{
    display: grid;
    grid-template-columns:  250px 250px;
    grid-template-rows:     250px 250px;
    justify-content: center;
    gap: 1rem;
}

.ref-grid-item{
    max-width: 250px;
    background-color: #f27c22;
    /* min-height: 250px; */
    padding: 0.6rem; 

    box-shadow: 0 10px 10px #8e8e8e;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ref-grid-item-person{
    font-weight: 700;
    font-size: 0.9rem;
    padding-bottom: 0.5em;
    text-align: center;
}

.ref-grid-item-person::before{
    content: "";
    background-image: url("img/baseline_face_black_18dp.png");
    background-repeat: no-repeat;
    display: inline-block;

    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 5px;

    
}

.ref-grid-item-text{
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
}

.footer{
    height: 200px;
    background-color: #405366;
    color: #d3d3d3;
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 1rem;
}

.footer-info{
    display: flex;
    justify-content: center;
    /* flex: 1 1 33%; */
    gap: 1rem;

}
.copyright{
    align-self: center;


}
